<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PickupsVerifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PickupsVerifier.Properties.Settings>
            <setting name="PickupsVerifier_gds_api_Service" serializeAs="String">
                <value>http://api.mantistechnologies.com/service.asmx</value>
            </setting>
        </PickupsVerifier.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="AUTH_HASH" value="310dcbbf4cce62f762a2aaa148d556bd"/>
    <add key="USER_ID" value="333"/>
    <add key="GDSConnString" value="Data Source=gdsdb;Initial Catalog=GDS;Persist Security Info=True;User ID=agn;Password=t0w3r47556br!dg3;" />
    <add key="SECURITY" value="signature@776" />

    <add key="BCC_EMAILS_OMS" value="oms.callcentre@travelyaari.com,ujjaval.jayswal@travelyaari.com,saurabh.jain@travelyaari.com,heera.jaiswal@travelyaari.com,amritesh.anand@travelyaari.com"/>
    <add key="EMAIL_URL" value="http://services.mantistechnologies.com/Email_Services.svc/send_email"/>
    <add key="EMAIL_PMISMATCH_TYPE" value="pickup_mismatch"/>
    <add key="EMAIL_TABLE_TYPE" value="blank_email"/>
    
    <add key="SMS_URL" value="http://services.mantistechnologies.com/SMS_Services.svc/send_sms"/>
    <add key="SMS_TY" value="pickup_mismatch_sms_ty"/>
    <add key="SMS_GDS" value="pickup_mismatch_sms_gds"/>
    <add key="KEY_SMS_TY" value="29ab85a5ce62ae01b93ff0017c766377"/>
    <add key="KEY_SMS_GDS" value="55609b788ed890275ed3f50f521731f5"/>
    <add key="DETAILS_URL" value="http://iamgds.com/booking/index.aspx?pnr=#PNR#&amp;tno=#TNO#"/>


    <add key="API_PARTNERS" value="5273,3470,4642,4474,5463,4053,3845,4337,5693,332,4357,463,3352,456,464,4331,5876,2137,5981,5195,2342,465,5374,744,4469,5958,944,5376,5746,79,4139,2489,3978,5333,3148,333,3641,4293,4783,4784,4021,1977,1900,4632,2924,4729,1978,3414,4728,5275,4782,4587,2027,4731,4321,4730,4633,2020,4732,316,4733,630,2853,4219,4134,4353,4347,4720,4484"/>

  </appSettings>
</configuration>