<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PickupsVerifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PickupsVerifier.Properties.Settings>
            <setting name="PickupsVerifier_gds_api_Service" serializeAs="String">
                <value>http://api.mantistechnologies.com/service.asmx</value>
            </setting>
        </PickupsVerifier.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="AUTH_HASH" value="310dcbbf4cce62f762a2aaa148d556bd"/>
    <add key="USER_ID" value="333"/>
    <add key="GDSConnString" value="Data Source=gdsdb;Initial Catalog=GDS;Persist Security Info=True;User ID=agn;Password=t0w3r47556br!dg3;" />
    <add key="SECURITY" value="signature@776" />

    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="TYEmailId" value="info@travelyaari.com"/>
    <add key="TYEmailPassword" value="mantisyaari.com"/>
    <add key="CC_EMAILS_OMS" value="amritesh.anand@travelyaari.com"/>
    <add key="TO_EMAILS_OMS" value="amritesh.anand@travelyaari.com"/>
    <add key="CC_EMAILS_TY" value="amritesh.anand@travelyaari.com"/>
    <add key="TO_EMAILS_TY" value="amritesh.anand@travelyaari.com"/>
    <add key="EMAIL_URL" value="http://services.mantistechnologies.com/Email_Services.svc/send_email"/>
    <add key="EMAIL_PMISMATCH_TYPE" value="pickup_mismatch"/>
    <add key="EMAIL_TABLE_TYPE" value="blank_email"/>
    
    <add key="SMS_URL" value="http://services.mantistechnologies.com/SMS_Services.svc/send_sms"/>
    <add key="SMS_TY" value="pickup_mismatch_sms_ty"/>
    <add key="SMS_GDS" value="pickup_mismatch_sms_gds"/>
    <add key="SMS_KEY" value="5942841f5a020ba14280aaffa4115745"/>
    <add key="DETAILS_URL" value="http://iamgds.com/booking/index.aspx?pnr=#PNR#&amp;tno=#TNO#"/>
  
  </appSettings>
</configuration>