<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PickupReminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <PickupReminder.Properties.Settings>
            <setting name="PickupReminder_gds_api_Service" serializeAs="String">
                <value>http://api.mantistechnologies.com/service.asmx</value>
            </setting>
        </PickupReminder.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="GDSConnString" value="Data Source=gdsdb;Initial Catalog=GDS;Persist Security Info=True;User ID=agn;Password=t0w3r47556br!dg3;" />
    
    <add key="SMS_URL" value="http://services.mantistechnologies.com/SMS_Services.svc/send_sms"/>
    <add key="SMS_TY" value="pickup_reminder_sms_ty"/>
    <add key="SMS_GDS" value="pickup_reminder_sms_gds"/>
    <add key="KEY_SMS_TY" value="58e65ec902707083720458b2a87f912b"/>
    <add key="KEY_SMS_GDS" value="00318de9ffc414c43d54481f02c4fd7f"/>
    <add key="DETAILS_URL" value="http://iamgds.com/booking/index.aspx?pnr=#PNR#&amp;tno=#TNO#"/>

    <add key="EMAIL_URL" value="http://services.mantistechnologies.com/Email_Services.svc/send_email"/>
    <add key="EMAIL_PREMINDER_TYPE" value="pickup_reminder"/>

    <add key="API_PARTNERS" value="5273,3470,4642,4474,5463,4053,3845,4337,5693,332,4357,463,3352,456,464,4331,5876,2137,5981,5195,2342,465,5374,744,4469,5958,944,5376,5746,79,4139,2489,3978,5333,3148,333,3641,4293,4783,4784,4021,1977,1900,4632,2924,4729,1978,3414,4728,5275,4782,4587,2027,4731,4321,4730,4633,2020,4732,316,4733,630,2853,4219,4134,4353,4347,4720,4484"/>
  </appSettings>
</configuration>